<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>VueJS Workshop</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="http://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    />
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <h2>{{ heading }}</h2>
      <input type="text" placeholder="Search..." v-model="searchValue" />
      <hr />
      <task-form v-on:submit="addNewTask"></task-form>

      <ol>
        <li v-for="(t, i) in filteredTasks" v-bind:key="t.id">
          <task-item
            v-bind:task="t"
            v-bind:is-editing="editingTask !== null && t.id === editingTask.id"
            v-on:quit-editing="quitEditing"
            v-on:edit-task="editTask"
            v-on:delete-task="deleteTask"
          >
          </task-item>
        </li>
      </ol>

      <p v-if="!taskLoaded">Loading task...</p>
      <p v-if="taskLoaded && filteredTasks.length === 0">No task exists</p>
    </div>

    <script type="text/html" id="task-form-template">
      <form v-on:submit.prevent="handleSubmit">
        <input type="text" v-focus v-model="taskText" v-bind:placeholder="placeholder" />
        <date-picker v-model="dateDue" />
        <input type="submit" />
      </form>
    </script>

    <script type="text/html" id="task-item-template">
      <div>
        <div v-if="!isEditing">
            <span class="pointer" v-on:click="completeTask" v-bind:class="{ 'strikethrough': task.completed }">
              {{ task.task | truncate(20) }}
            </span>
            <span>
              {{daysOld}} days old ({{task.dateAdded | formatDate}})
            </span>
            <button v-on:click="editTask">Edit</button>
            <button v-on:click="deleteTask">Delete</button>
        </div>

        <task-form v-if="isEditing" v-bind:task="task" v-on:submit="saveTask"></task-form>
      </div>
    </script>

    <script
      src="http://unpkg.com/@babel/polyfill@latest/dist/polyfill.js"
      type="text/javascript"
    ></script>
    <script src="https://unpkg.com/vue@2.6.9" type="text/javascript"></script>
    <script
      src="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"
      type="text/javascript"
    ></script>
    <script src="api.js" type="text/javascript"></script>
    <script src="code.js" type="text/javascript"></script>
  </body>
</html>
